<% content_for :title do %>
Waterfront Seafood Restaurant in Orange Beach
<% end %>
<% content_for :description do %>
Join us for a lunch, dinner, or just a snack. You'll love our great food with a waterfront view!
<% end %>

<div class="dailyMenusPage">
  <div class="fullSec pageHd">
    <div class="sectionWrap medDef">
      <h1>Amazing Food <span>&middot;</span><br> Waterfront View</h1>
      <%# <h4>Select one of the items below to view the full menu.</h4>
      <h5 class="fam"><a href="/#family-meals"><b>Click here</b> to view our takeout family meals.</a></h5> %>
      <h4>Select one of the items below to view the full menu.<br>
        <a href="/#family-meals"><b>Click here</b> to view our takeout family meals.</a></h4>
    </div>
  </div>

  <div class="fullSec menuSec">
    <div class="sectionWrap medDef">
      <%= link_to "EarlyMenu.pdf", target: '_blank', class: 'menuItem i100' do %>
        <p class="menuTitle hasSpan">Early Bird Menu <br><span>Available Daily Until 6pm</span></p>
        <%= image_tag('menu-earlyBird.png', class: 'img-responsive imageFw__XXX', alt: "Early Bird Menu") %>
      <% end %>

      <%= link_to "LunchMenu.pdf", target: '_blank', class: 'menuItem i1' do %>
        <p class="menuTitle">Lunch Menu</p>
        <%= image_tag('menu-lunch1.png', class: 'img-responsive imageFw', alt: "Lunch Menu - small plates and apps") %>
        <%= image_tag('menu-lunch2.png', class: 'img-responsive imageFw', alt: "Lunch Menu - entrèes and specials") %>
        <%= image_tag('menu-lunchM.png', class: 'img-responsive imageMob', alt: "Lunch Menu") %>
      <% end %>

      <%= link_to "DinnerMenu.pdf", target: '_blank', class: 'menuItem i2' do %>
        <p class="menuTitle">Dinner Menu</p>
        <%= image_tag('menu-dinner1.png', class: 'img-responsive imageFw', alt: 'Dinner Menu - small plates and apps') %>
        <%= image_tag('menu-dinner2.png', class: 'img-responsive imageFw', alt: 'Dinner Menu - steaks and platters') %>
        <%= image_tag('menu-dinner3.png', class: 'img-responsive imageFw', alt: 'Dinner Menu - steaks and seafood') %>
        <%= image_tag('menu-dinner1mob.png', class: 'img-responsive imageMob', alt: 'Dinner Menu - small plates - mobile version') %>
        <%= image_tag('menu-dinner2mob.png', class: 'img-responsive imageMob', alt: 'Dinner Menu - entrèes - mobile version') %>
        <%= image_tag('menu-dinner3mob.png', class: 'img-responsive imageMob', alt: 'Dinner Menu - steaks and seafood - mobile version') %>
      <% end %>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

