<% content_for :title do %>
Daily Menu
<% end %>
<% content_for :description do %>
Join us for a lunch, dinner, or just a snack. You'll love our great food with a great view!
<% end %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-lunch small-box over20">
    <div class="title-container">
      <h1>Daily Menu</h1>
      <!-- <h2>Served daily: 11am - 4pm</h2> -->
    </div>
  </div>

  <div class="tabs">
    <div class="page-content container">
      <div class="menu-opt">
        <h5>Select one of the items below to view the full menu.</h5>
          <%= link_to "fall-lunch2020.pdf", target: '_blank', class: 'menu-link' do %>
            Fall Lunch Specials
            <%= image_tag('fall-lunch2020.jpg', class: 'img-responsive') %>
          <% end %>

          <%= link_to "fall-menu2020.pdf", target: '_blank', class: 'menu-link' do %>
            Fall Daily Menu
            <%= image_tag('fall-menu2020.jpg', class: 'img-responsive') %>
          <% end %>
      </div>



      <div style="display:none;" class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="menu-key"><h5><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> ** Represents Gluten Free Menu Items</h5></div>

        <div id="accordeon">
          <div class="cbp-item">
            <div class="cbp-caption lunchspec">
                <div class="cbp-caption-defaultWrap">
                    <h4>$8.99 Lunch Specials</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    <div class="menu-item">
                      <h5 class="bmargin0"><b>Served daily: 11am - 4pm</b></h5>
                      <p class="reg"><b>** No Substitutions Please. <br/> ** Coupons may not be applied to these specials.</b></p>
                    </div>
                    <hr class="noTop" />
                    <div class="menu-item">
                      <h4>SPINACH AND ARTICHOKE ENCRUSTED CHICKEN </h4>
                      <p>Served with squash casserole and saffron rice pilaf.</p>
                    </div>

                    <div class="menu-item">
                      <h4>CHICKEN SCALLOPINI </h4>
                      <p>Pan seared chicken medallions with mushrooms and caramelized onions in a white wine garlic sauce and tossed with linguini.</p>
                    </div>

                    <div class="menu-item">
                      <h4>MEATLOAF</h4>
                      <p>Served with green beans, mashed potatoes, and gravy.</p>
                    </div>

                    <div class="menu-item">
                      <h4>FISH AND CHIPS</h4>
                      <p>Fried grouper served with French fries and coleslaw.</p>
                    </div>

                    <div class="menu-item">
                      <h4>FRIED PORK CHOP </h4>
                      <p>Served with green beans and baked macaroni and cheese.</p>
                    </div>

                    <div class="menu-item">
                      <h4>HAMBURGER STEAK </h4>
                      <p>Served with green beans, mashed potatoes, and gravy.</p>
                    </div>

                    <div class="menu-item">
                      <h4>FRIED SHRIMP</h4>
                      <p>Served with green beans and cheddar grits.</p>
                    </div>

                    <div class="menu-item">
                      <h4>PAN SEARED FISH </h4>
                      <p>Served with green beans and saffron rice pilaf.</p>
                    </div>

                  </div>
                </div>
            </div>

            <div class="cbp-caption first">
              <div class="cbp-caption-defaultWrap">
                <h4>Starters</h4>
              </div>

              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                  <div class="col-md-6 col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Spinach Artichoke Dip</h4>
                      <div class="menu-price">
                        <p>$10</p>
                      </div>
                      <p>Fresh Spinach and Artichokes, Cream Cheese, Sour Cream and Green Onions. Served with House Made Tortilla Chips</p>
                    </div>
                  
                    <div class="menu-item">
                       <h4>Fried Green Tomatoes and Blackened Shrimp</h4>
                       <div class="menu-price">
                          <p>$12</p>
                       </div>
                       <p>Blackened Shrimp over Fried Green tomatoes, topped with Creole Remolade</p>
                    </div>
                  
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Loaded Nachos</h4>
                      <div class="menu-price">
                        <p>$12</p>
                      </div>
                      <p>Seasoned Ground Beef, Queso Cheese, Jalapenos, Pico de Gallo, Sour Cream, Black Olives, Lettuce, Guacamole, House Made Tortilla Chips</p>
                    </div>
                  </div>

                   <div class="col-md-6 col-xs-12">
                    <div class="menu-item">
                      <h4>Crab Stuffed Mushrooms</h4>
                      <div class="menu-price">
                        <p>$12</p>
                      </div>
                      <p>Mushroom caps stuffed with crab, garlic, parsley, manchego cheese, and butter.</p>
                    </div>

                    <div class="menu-item">
                      <h4>Cheese Plate</h4>
                      <div class="menu-price">
                        <p>$14</p>
                      </div>
                      <p>Gorgonzola, honey drizzled brie, smoked gouda, and manchego cheese. Served with fresh fruit, spiced pecans and crackers.</p>
                    </div>
                  
                    <div class="menu-item">
                      <h4>Calamari Fritti</h4>
                      <div class="menu-price">
                        <p>$12</p>
                      </div>
                      <p>Lightly fried, seasoned calamari, parmesan cheese, and sweet chili sauce</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="cbp-caption second">
              <div class="cbp-caption-defaultWrap">
                <h4>Oysters</h4>
              </div>

              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                  <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Raw on the Half Shell </h4>
                      <div class="menu-price">
                        <p> Order of 12 - $12</p>
                      </div>
                      <p>Served with Horseradish and Cocktail Sauce</p>
                    </div>
                  </div>

                  <div class="col-md-5 col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Baked Bacon Cheddar </h4>
                      <div class="menu-price">
                        <p> Order of 8 - $16</p>
                      </div>
                      <p>Topped with Bacon, Cheddar, Green Onion and Jalapeno Cream Sauce</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-md-5 center-block col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Baked Garlic Butter</h4>
                      <div class="menu-price">
                        <p>Order of 8 - $16</p>
                      </div>
                      <p>Topped with Roasted Garlic Butter, Lemon, and Herbs </p>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Baked Cajun Rockerfeller</h4>
                      <div class="menu-price">
                        <p>Order of 8 - $16</p>
                      </div>
                      <p>Topped with Spinach, Tazo Ham, Onion and Cajun Seasonings</p>
                    </div>
                  </div>

                  <div class="col-md-5 col-xs-12">
                    <div class="menu-item">
                      <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Baked Oyster Sampler</h4>
                      <div class="menu-price">
                        <p>$16</p>
                      </div>
                      <p>3 Baked Bacon Cheddar, 3 Baked Garlic Butter, and 3 Baked Cajun Rockefeller</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="cbp-caption third">
              <div class="cbp-caption-defaultWrap">
                <h4>Salads &amp; Soups</h4>
              </div>

              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-body">
                  <div class="menu-item dets">
                    <p>Add Gulf Shrimp: $5 <span class="md-span">&nbsp; | &nbsp;</span><br class="sm-br"> Add Chicken: $4</p></center>
                  </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="menu-item">
                          <h4>Garden</h4>
                          <div class="menu-price">
                            <p>$5</p>
                          </div>
                          <p>Spring Mix, Shaved Carrots, Red Cabbage, Red Onion, Marinated Tomatoes, Mozzarella Cheese, and House Made Croutons</p>
                        </div>

                        <div class="menu-item">
                          <h4>Caesar</h4>
                          <div class="menu-price">
                            <p>$5</p>
                          </div>
                          <p>Romaine Lettuce, Parmesan Cheese, Marinated Tomatoes, House Made Croutons. Tossed in Caesar Dressing</p>
                        </div>

                        <div class="menu-item">
                          <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Pecan and Pear Salad</h4>
                          <div class="menu-price">
                            <p>$12</p>
                          </div>
                          <p>Spring mix, goat cheese crumbles, candied pecans, fresh strawberries, pear slices. Served with raspberry vinaigrette.</p>
                        </div>

                        <div class="menu-item">
                          <h4>Asian Chicken Salad</h4>
                          <div class="menu-price">
                            <p>$12</p>
                          </div>
                          <p>Grilled Chicken, Lettuce, Red Cabbage, Crispy Wonton Strips, Carrots, Green Onion, Mandarin Oranges. Served with Sesame Vinaigrette</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="menu-item">
                          <h4>Seafood Gumbo</h4>
                          <div class="menu-price">
                            <p>Cup - $7 &nbsp; | &nbsp; Bowl - $10</p>
                          </div>
                          <p>Gulf Shrimp, Crawfish, Sausage, Bell Peppers, Tomatoes, Creole Seasoning. Topped with Rice and Green Onion</p>
                        </div>

                        <div class="menu-item">
                          <h4>Soup of the Day</h4>
                          <div class="menu-price">
                            <p>Cup - $5 &nbsp; | &nbsp; Bowl - $8</p>
                          </div>
                          <p>Our Homemade Soup of the Day. Ask Server for details</p>
                        </div>

                        <div class="menu-item">
                          <h4>Salad and Cup of Soup</h4>
                          <div class="menu-price">
                            <p>$10</p>
                          </div>
                          <p>Caesar or Garden Salad, with choice of Seafood Gumbo or Soup of the Day</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>


            <div class="cbp-caption sandwich">
                <div class="cbp-caption-defaultWrap">
                    <h4>Sandwiches</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        <div class="menu-item text-center"><p>*All sandwiches served with fries or coleslaw</p></div>

                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4>Shrimp BLT</h4>
                            <div class="menu-price"><p>$12</p></div>
                            <p>Grilled Shrimp, with Spinach, Tomato, Applewood Smoked Bacon, Mozzarella Cheese, and Creole Remolade on Ciabatta bread</p>
                          </div>

                          <div class="menu-item">
                            <h4>Fish Sandwich</h4>
                            <div class="menu-price"><p>$12</p></div>
                            <p>Pan Seared Fish of the Day, Lettuce, Onion, Tomato, and Tartar Sauce, on Ciabatta Bread </p>
                          </div>

                          <div class="menu-item">
                            <h4>Shrimp PoBoy</h4>
                            <div class="menu-price"><p>$12</p></div>
                            <p>Gulf Fried Shrimp, Lettuce, Tomato, and Tartar Sauce. Served on a French Baguette</p>
                          </div>  
                        </div>

                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4>Oyster PoBoy</h4>
                            <div class="menu-price"><p>$12</p></div>
                            <p>Fried Oysters, Lettuce, Tomato, and Tartar Sauce. Served on a French Baguette</p>
                          </div>  

                          <div class="menu-item">
                            <h4>Ginny Lane Burger</h4>
                            <div class="menu-price"><p>$10</p></div>
                            <p>Grilled to Order. Topped with Lettuce, Tomato, Onion and Mayonnaise on a Brioche Bun. Cheddar, mozzarella, or goat cheese</p>
                          </div>    
                        </div>
                    </div>
                </div>
            </div>


            <div class="cbp-caption stkchx">
                <div class="cbp-caption-defaultWrap">
                    <h4>Steaks</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        <div class="menu-item dets">
                          <p>Add Snow Crab Cluster - $12 <span class="md-span">&nbsp; | &nbsp;</span><br class="sm-br"> Add Crab Meat - $8</p>
                          <p>Add Crab Cake - $8</p>
                        </div>

                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Bone-In Ribeye 22oz</h4> 
                            <div class="menu-price"><p>$38</p></div>
                            <p>Served with baked macaroni and cheese and asparagus. Topped with red wine demi glace.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Filet Oscar 8oz</h4> 
                            <div class="menu-price"><p>$30</p></div>
                            <p>Topped with lump crab meat and hollandaise sauce. Served with mashed potatoes and asparagus.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Gorgonzola Filet 8oz</h4> 
                            <div class="menu-price"><p>$28</p></div>
                            <p>Topped with a Gorgonzola cream sauce. Served with parmesan risotto and brussel sprouts.</p>
                          </div>
                        </div>
                        
                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Filet Mignon 8oz</h4> 
                            <div class="menu-price"><p>$26</p></div>
                            <p>Served with gouda smashed potatoes and asparagus. Topped with red wine demi glace.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> New York Strip 10oz</h4> 
                            <div class="menu-price"><p>$22</p></div>
                            <p>Served with mashed potatoes and asparagus. Topped with red wine demi glace.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cbp-caption seafood">
                <div class="cbp-caption-defaultWrap">
                    <h4>Seafood</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4>Classic Steamer Pot </h4>
                            <div class="menu-price"><p>$28</p></div>
                            <p>Gulf shrimp, snow crab legs, andouille sausage, corn, and new potatoes.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Bayou Grouper </h4>
                            <div class="menu-price"><p>$24</p></div>
                            <p>Grouper topped with crab and lemon beurre blanc. Served with mushroom risotto and glazed carrots.</p>
                          </div>

                          <div class="menu-item">
                            <h4>Grilled Salmon </h4>
                            <div class="menu-price"><p>$20</p></div>
                            <p>Served with spinach risotto, asparagus and dill caper cream sauce.</p>
                          </div>

                          <div class="menu-item">
                            <h4>Seared Crab Cakes </h4>
                            <div class="menu-price"><p>$18</p></div>
                            <p>2 crab cakes. Served with fried green tomatoes. Topped with spicy remoulade sauce.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Bacon Wrapped Gulf Shrimp </h4>
                            <div class="menu-price"><p>$18</p></div>
                            <p>Bacon wrapped shrimp topped with cherry BBQ sauce. Served with gouda smashed potatoes and green beans.</p>
                          </div>
                        </div>
                        
                        <div class="col-md-6 col-xs-12">
                          <div class="menu-item">
                            <h4>Fried Shrimp Platter </h4>
                            <div class="menu-price"><p>$18</p></div>
                            <p>Jumbo Gulf shrimp, lightly dusted and fried. Served with french fries, cole slaw and hush puppies.</p>
                          </div>

                          <div class="menu-item">
                            <h4>Fried Seafood Platter </h4>
                            <div class="menu-price"><p>$18</p></div>
                            <p>Fried Gulf shrimp, grouper and oysters. Served with french fries, cole slaw and hush puppies.</p>
                          </div>

                          <div class="menu-item">
                            <h4>Steamed Shrimp Platter </h4>
                            <div class="menu-price"><p>$18</p></div>
                            <p>Steamed shell-on shrimp seasoned with Old Bay seasoning. Served with French fries, cole slaw and hush puppies.</p>
                          </div>

                          <div class="menu-item">
                            <h4><%= image_tag( 'gluten.jpg', alt: 'Ginny Lane Gluten Free Option', class: 'img-responsive') %> Shrimp and Grits </h4>
                            <div class="menu-price"><p>$16</p></div>
                            <p>Sauteed Gulf shrimp, tomatoes, bacon, thyme, rosemary, green onions, shallots, and garlic in a chardonnay cream sauce. Served over cheddar grits.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cbp-caption pasta">
                <div class="cbp-caption-defaultWrap">
                    <h4>Pasta &amp; Chicken</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-body">
                    <div class="col-md-6 col-xs-12">
                      <div class="menu-item">
                        <h4>Seafood Pasta </h4>
                        <div class="menu-price"><p>$18</p></div>
                        <p>Gulf shrimp, crab, spinach, and peas in a creamy alfredo sauce over linguini.</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Scampi </h4>
                        <div class="menu-price"><p>$18</p></div>
                        <p>Sauteed Gulf shrimp in white wine, butter and garlic sauce with asparagus and tomatoes over linguini.</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chicken Picatta </h4>
                        <div class="menu-price"><p>$16</p></div>
                        <p>Thinly sliced chicken, breaded and pan fried. With caramelized onions and lemon and caper beurre blanc over linguini.</p>
                      </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                      <div class="menu-item">
                        <h4>Chicken Alfredo </h4>
                        <div class="menu-price"><p>$16</p></div>
                        <p>Grilled chicken breast, spinach and peas in a creamy alfredo sauce over linguini.</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pecan Encrusted Chicken </h4>
                        <div class="menu-price"><p>$18</p></div>
                        <p>Chicken breast breaded in candied pecans and lightly fried. Served with gouda smashed potatoes and brussel sprouts. Topped with lemon beurre blanc.</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            

            <div class="cbp-caption sides">
                <div class="cbp-caption-defaultWrap">
                    <h4>Sides</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        <div class="menu-item">
                            <h4>
                              French Fries - $2<br>
                              Cole Slaw - $2<br>
                              Mashed Potatoes - $2<br>
                              Gouda Smashed Red Potatoes - $2<br>
                              Green Beans - $2<br>
                              Asparagus - $3<br>
                              Brussel Sprouts - $3<br>
                              Cheddar Grits - $3<br>
                              Hush Puppies - $3<br>
                              Risotto - $4<br>
                              Fried Okra - $4
                            </h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="cbp-caption dsrt">
                <div class="cbp-caption-defaultWrap">
                    <h4>Desserts - $8</h4>
                </div>

                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                        <div class="menu-item">
                            <h4>Lava Cake</h4>
                            <p>Warm Chocolate Cake Flowing with Chocolate Ganache. Served with Vanilla Ice Cream, Fresh Berries and Whipped Cream</p>
                        </div>

                        <div class="menu-item">
                            <h4>Bread Pudding</h4>
                            <p>Warm House Made Bread Pudding. Served with White Chocolate Sauce and Fresh Berries</p>
                        </div>

                        <div class="menu-item">
                            <h4>Key Lime Pie</h4>
                            <p>Authentic House Made Key Lime Pie, with Graham Cracker Crust. Topped with Kiwi Lime sauce, Fresh Berries, and Whipped Cream</p>
                        </div>

                        <div class="menu-item">
                            <h4>Cheesecake</h4>
                            <p>Fresh Everyday. Ask Server for Details</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

