<% content_for :title do %>
Special Events
<% end %>
<% content_for :description do %>
The first Thursday of every month, Ginny Lane hosts a different vineyard &amp; create a menu to compliment each showcased wine.
<% end %>

<div class="events-page">
  <div class="simpleHeader eventsGen">
    <h1>Upcoming Events</h1>
  </div>


	<div class="page-content pairing-list">
	  <div class="container">
	    <!-- <h3 class="header">Dont miss out on our upcoming events! <br>
	    	Click on one of the events below for more information.
	  	</h3> -->

	    <div class="row xXpad">
	    	<div class="pbox-cst one">
		      <%= link_to '/mother-son-dinner', class: 'mobile-cst' do %>
	          <%=image_tag('event-motherSon.jpg', alt: 'Upcoming events at Ginny Lane', class: 'img-responsive borderImg') %>
		      <% end %>
		    </div>

		    <div class="pbox-cst two">
		      <%= link_to '/super-bowl', class: 'mobile-cst' do %>
	          <%=image_tag('event-superbowl.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive borderImg') %>
		      <% end %>
		    </div>

		    <div class="pbox-cst one">
		      <%= link_to '/pairing', class: 'mobile-cst' do %>
	          <%=image_tag('event-FebWine.png', alt: 'Upcoming events at Ginny Lane', class: 'img-responsive borderImg') %>
		      <% end %>
		    </div>
	    	

		    <!-- <div class="col-md-5 col-xs-12"> -->
	    	<div class="pbox-cst two">
		      <%= link_to 'https://alwharf.com/calendar', target: "_blank", class: 'mobile-cst' do %>
	          <%=image_tag('wharfvents.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive borderImg') %>
		      <% end %>
		    </div>
	    </div>
			
	  </div>
	</div>

</div>
<hr>
