<% content_for :title do %>
  Waterfront Restaurant in Orange Beach, Al
<% end %>
<% content_for :description do %>
Come enjoy amazing food, a great atmosphere, &amp; beautiful, waterfront seating at Ginny Lane Bar &amp; Grill in Orange Beach. The best food with the best view at The Wharf!
<% end %>

<div class="homepage ptHome">
  <div class="homeSlide">
    <!-- 1920x1079 -->
    <div class="uk-position-relative uk-visible-toggle home-slideshow" tabindex="-1" uk-slideshow="animation: fade; autoplay:true;">
      <ul class="uk-slideshow-items">
        <%# <li><a href="/pairing">
          <=image_tag('slide-febWine.jpg', alt: "Upcoming wine dinner at Ginny Lane", class: 'img-responsive')%>
        </a></li> %>

        <li><a href="/specials">
          <%=image_tag('slide-happy.jpg', alt: "View Ginny Lane's daily happy hour specials", class: 'img-responsive')%>
        </a></li>

        <li><a href="#family-meals">
          <%=image_tag('slide-family.jpg', alt: 'Ginny Lane Grille Family Meals, Takeout in Orange Beach, Al', class: 'img-responsive')%>
        </a></li>
      </ul>

      <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
      </div>
    </div>
  </div>

  <div class="homeContent">
    <div class="introSec">
      <div class="inner">
        <div class="image"><%= image_tag('entrance.jpg', alt: 'Ginny Lane Entrance', class: 'img-responsive') %></div>

        <div class="text">
          <h2>Ginny Lane Bar &amp; Grill</h2>
          <h3>Your appetite might lead you here. But our <strong>sensational food</strong>, <strong>waterfront view</strong>, and <strong>exciting atmosphere</strong> will keep you coming back!</h3>
          <%= link_to '/daily-menu', class: 'btn btn-small red introBtn' do %>
            View Our Menus
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="family-meals">
      <div class="deliverySec">
        <div class="container">
          <h1>Order for Takeout &amp; Delivery<br>
            <a href="tel: +12512246500" class="tel">251-224-6500 <span class="ext">(ext.</span> 1)</a>
          </h1>

          <div class="clearfix"></div><hr class="top"/>
          <div class="deliveryWrap">
            <a href="http://wharfrestaurants.revelup.online/store/2" target="_blank" rel="noopener noreferrer" class="deliveryLogo tall">
              <%= image_tag('takeout-pickup.png', alt: 'Ginny Lane order pickup link', class: 'img-responsive fw') %>
            </a>

            <a href="https://www.ubereats.com/mobile-al/food-delivery/ginny-lane-bar-%26-grill/Fm9W7NsyTWGHRil1dAD1Wg" target="_blank" rel="noopener noreferrer" class="deliveryLogo narrow">
              <%= image_tag('takeout-uber.png', alt: 'Uber Eats logo for Ginny Lane delivery link', class: 'img-responsive fw') %>
            </a>

            <a href="https://www.timetoeatthebeach.com/order/restaurant/ginny-lane-bar--grill-menu/72" target="_blank" rel="noopener noreferrer" class="deliveryLogo tall">
              <%= image_tag('takeout-eatBeach.png', alt: 'Eat the Beach logo for Ginny Lane delivery link', class: 'img-responsive fw') %>
            </a>

            <a href="https://waitrapp.com/restaurants/al/orange-beach/ginny-lane-bar-grill/16552" target="_blank" rel="noopener noreferrer" class="deliveryLogo narrow">
              <%= image_tag('takeout-waitr.png', alt: 'Waitr logo for Ginny Lane delivery link', class: 'img-responsive fw') %>
            </a>
          </div>
          <div class="clearfix"></div><hr class="btm"/>
        </div>
      </div>

      <div id="family-meals" class="fmSec">
        <div class="container">
          <h2>Takeout Family Meals</h2>
          <h3>All Meals Served with House or Caesar Salad and Rolls</h3>

          <div class="item uno"><h4>Shrimp Scampi... $32</h4></div>
          <div class="item"><h4>Shrimp and Grits... $32</h4></div>
          <div class="item"><h4>Chicken &amp; Spinach Alfredo ... $32</h4></div>
          <div class="item">
            <h4>Meatloaf... $32</h4>
            <p>Mashed Potatoes, Green Beans</p>
          </div>
        </div>
      </div>
    </div>

    <div class="mobileImage"><%= image_tag('entranceMob.jpg', alt: 'Ginny Lane Entrance', class: 'img-responsive') %></div>
  </div>

  <div class="imageRow img4">
    <div class="insideX">
      <div class="image"><%=image_tag('glSample4.jpg', alt: "Ginny Lane", class: 'img-responsive')%></div>
      <div class="image"><%=image_tag('glSample6.jpg', alt: "Ginny Lane", class: 'img-responsive')%></div>
      <div class="image hideMd"><%=image_tag('glSample9.jpg', alt: "Ginny Lane", class: 'img-responsive')%></div>
      <div class="image"><%=image_tag('glSample10.jpg', alt: "Ginny Lane", class: 'img-responsive')%></div>
    </div>
  </div>
</div>
<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>