<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
  	<p>Sender's Name: <%= @catering.name %></p>
		<p>Phone Number: <%= @catering.phone %></p>
		<p>Email: <%= @catering.email %></p>
		<p>Date: <%= @catering.date %></p>
		<p>Guest Count: <%= @catering.guest %></p>
		<p>Message: <%= @catering.content %></p>
	</body>
</html>
