<div id="h-wrap">
  <header class="header">
    <div id="top-bar-wrap" class="clearfix">
      <div class="tb-col tbc1">
        <i class="fa fa-phone"></i>
        <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a>
      </div>

      <div class="tb-col tbc2">
        <div class="signup-hd">
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form action="https://ginnylanebargrill.us10.list-manage.com/subscribe/post?u=fe0c421eb8ae1acbc885e39d3&amp;id=303b0e0335" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Join Our Mailing List</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe0c421eb8ae1acbc885e39d3_303b0e0335" tabindex="-1" value=""></div>
                <div class="clear sub-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
        </div>        
      </div>

      <div class="tb-col tbc3">
        <ul id="social-links">
          <li>
            <%= link_to 'https://www.facebook.com/pages/Ginny-Lane-Bar-Grill/159850265732', target: '_blank' do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to 'https://twitter.com/ginnylaneob', target: '_blank' do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </li>

          <li>
            <a href="https://www.instagram.com/ginnylanebarandgrill/" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-header">
      <div class="col-md-3 logo-block">
        <%= link_to(image_tag('gl-logo.jpg', alt: 'Ginny Lane Bar and Grill Logo', class: 'img-responsive logo-img'), root_path ) %>
      </div>

      <div class="col-md-9 mega-tab">
        <ul class="megamenu-parent menu-zoom hidden-xs navSize">
          <%= render 'shared/nav' %>
        </ul>
      </div>

      <div class="hdMobRow">
        <div class="mrWrap">
          <a href="#" id="offcanvas-toggler">
            <span>
              <div></div>
              <div></div>
              <div></div>
            </span>
            <h5>Main Menu</h5>
          </a>

          <%= link_to 'https://www.yelp.com/reservations/ginny-lane-bar-and-grill-orange-beach?from_reserve_now=1', target: '_blank', class: 'header-mobtn one' do %>
            Book A Table
          <% end %>

          <%= link_to 'https://www.timetoeatthebeach.com/order/restaurant/ginny-lane-bar--grill-menu/72', target: '_blank', class: 'header-mobtn two' do %>
            Order Delivery
          <% end %>        
        </div>
      </div>
    </div>
  </header>
</div>
